<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utilisateur</title>
    {% include 'bootstrap.j2' %}
</head>
<body>
    <div class="container mt-5">
        <h1>Voici les détails de l'utilisateur recherché : </h1>
        <br>
        <div class="card">
            <div class="card-header">
                Détails de l'utilisateur
            </div>
            <div class="card-body">
                <h5 class="card-title" id="user-name">Nom: {{ user.nom }}</h5>
                <p class="card-text" id="user-email">Email: {{ user.email }}</p>
                <a href="http://127.0.0.1:5001" class="btn btn-primary">Retour</a>
            </div>
        </div>
    </div>

    <script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </script>
</body>
</html>